<span class="title">{{title}}</span>
<div class="labels">
    <span class="lang">{{lang.name}}</span>
    <span class="full-url">
        <a target="_blank" href={{url}}>full url</a>
    </span>
    <span class="edit-url">
        <a target="_blank" href={{editUrl}}>edit url</a>
    </span>
</div>