%button {
  background-color: #eee;
  border: 0;
  border-radius: 5px;
  cursor: context-menu;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 3px;
  text-align: center;
}

%url {
  @extend %button;

  a {
    text-decoration: none;
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.93);
  margin: 7px 5px;
  padding-top: 5px;
  position: sticky;
  top: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.title {
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  overflow: auto;
  text-decoration: none;
  width: 45%;
}

.tags {
  .tag {
    @extend %button;

    background: #ececec;
    color: #3d3d3d;
    cursor: pointer;
    font-stretch: normal;
    font-weight: bold;
    margin-right: 2px;
    text-decoration: none;
  }
}

.searchTerm {
  @extend %button;

  font-style: italic;
  font-weight: normal;
}

.content {
  display: block;
  margin: 15px 30px;
}

.description {
  font-size: 1em;
  font-style: italic;
}

.longDescription {
  font-size: 1em;
}

.extra {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;

  .extraSummary {
    cursor: pointer;
    font-weight: bold;
  }

  .list {
    list-style-type: none;
    padding-left: 15px;

    .listItem {
      display: block;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 25em;
    }
  }

  .link {
    $link-color: #5eb1e9;

    color: $link-color;

    a {
      color: $link-color;
    }
  }
}
