$font-stack: "Segoe UI", sans-serif;

:root {
  background: rgb(253, 253, 253);
  font-size: 13px;
  font-family: $font-stack;
  box-sizing: border-box;
}

.results {
  .header {
    margin: 7px 5px;
    position: sticky;
    top: 0px;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.93);
  }

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }

  .title {
    width: 45%;
    overflow: auto;

    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
  }
}
