$font-stack: "Segoe UI", sans-serif;

.wrapper {
  box-sizing: border-box;
  font-family: $font-stack;
  font-size: 13px;
}

.results {
  .header {
    background-color: rgba(255, 255, 255, 0.93);
    margin: 7px 5px;
    padding-top: 5px;
    position: sticky;
    top: 0;
  }

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }

  .title {
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    overflow: auto;
    text-decoration: none;
    width: 45%;
  }
}
