.disambiguation {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;

    .title {
        font-size: 1rem;
    }

    %button {
        font-size: 0.8rem;
        padding: 1.5px;
        border-radius: 3px;

        a {
            color: #505050;
        }
    }

    .full-url,
    .edit-url {
        background-color: #dddddd;
    }
}