$font-stack: "Segoe UI",
sans-serif;

:root {
    background: rgb(253, 253, 253);
    font-size: 13px;
    font-family: $font-stack;
    box-sizing: border-box;
}

%button {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 3px;
    background-color: #eeeeee;
    border-radius: 5px;
    border: none;
}

.header {
    margin: 7px 5px;

    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;

        .title {
            font-size: 1.4rem;
            font-weight: bold;

            width: 45%;
            overflow: auto;
        }

        .lang {
            @extend %button;
            background: #ececec;
            font-weight: normal;
            font-style: italic;
        }

        .id {
            @extend %button;
            background-color: #ebebeb;
            font-weight: normal;
            font-style: italic;
            color: #888888
        }

        %url {
            @extend %button;
            margin: 2px;

            a {
                text-decoration: none;
            }
        }

        .full-url {
            @extend %url;
            background-color: #c4d2ff;
        }

        .edit-url {
            @extend %url;
            background-color: #ffd6be;
        }

        .hide-button {
            @extend %button;
            background: #e0e0e0;
            width: 16px;
            padding: auto auto;

            &:hover {
                background: #c2c2c2;
            }
        }
    }

    .search {
        .search-term {
            @extend %button;
            font-weight: normal;
            font-style: italic;
        }
    }
}

.content {
    margin: 15px 30px;
    display: block;

    .description {
        font-size: 1em;
        font-style: italic;
    }

    .extract {
        font-size: 1em;
    }

    .extras-section {
        .extra {
            background-color: #f1f1f1;
            padding: 5px;
            border-radius: 5px;

            .extra-summary {
                font-weight: bold;
            }

            .extras-list {
                padding-left: 15px;
                list-style-type: none;

                .extras-item {
                    display: block;
                    margin-bottom: 3px;
                    width: 25em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .link {
                    $link-color: #5eb1e9;
                    color: $link-color;

                    a {
                        color: $link-color;
                    }
                }
            }
        }
    }
}


hr {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-top: 1px solid #eeeeee;
}

.end-message {
    font-size: 1rem;
    text-align: center;
    color: #818181;
}