@import 'results';
@import 'disambiguations';

$font-stack: "Segoe UI",
sans-serif;

:root {
    background: rgb(253, 253, 253);
    font-size: 13px;
    font-family: $font-stack;
    box-sizing: border-box;
}

#disambiguations-list {
    display: none;
    margin: 7px 0px;
}

#disambiguations-count,
#end-message {
    font-size: 0.9rem;
    text-align: center;
    color: #818181;

    padding: 0px;
}

#disambiguations-count {
    margin: 0px;
    margin-bottom: 5px;

    &:hover {
        cursor: pointer;
    }
}