$font-stack: Helvetica,
sans-serif;
$layer-1-color: #f8f8f8;

:root {
    background: rgb(253, 253, 253);
    font-size: 12px;
    font-family: $font-stack;
    box-sizing: border-box;
}

%button {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 3px;
    line-height: 3px;
    background-color: #eeeeee;
    border-radius: 5px;
}

.header {
    margin: 7px 5px;

    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;

        .title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .lang {
            @extend %button;
            background: #ececec;
            font-weight: normal;
            font-style: italic;
        }

        .id {
            @extend %button;
            background-color: #ebebeb;
            font-weight: normal;
            font-style: italic;
            color: #888888
        }

        %url {
            @extend %button;
            margin: 2px;

            a {
                text-decoration: none;
            }
        }

        .full-url {
            @extend %url;
            background-color: #c4d2ff;
        }

        .edit-url {
            @extend %url;
            background-color: #ffd6be;
        }
    }

    .search {
        .search-term {
            @extend %button;
            font-weight: normal;
            font-style: italic;
        }
    }
}

.content {
    margin: 15px 30px;

    .description {
        font-size: 1em;
        font-style: italic;
    }

    .extract {
        font-size: 1em;
    }

    .extras-section {
        .extra {
            background-color: $layer-1-color;
            padding: 5px;
            border-radius: 5px;

            .extra-summary {
                font-weight: bold;
            }

            .extras-list {
                padding-left: 15px;
                list-style-type: none;

                .extras-item {
                    display: block;
                    margin-bottom: 3px;
                    width: 25em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}


hr {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-top: 1px solid #eeeeee;
}