#disambiguations {

    #list-control {
        display: none;

        &:checked+label+#disambiguations-list {
            display: block;
        }
    }

    #disambiguations-list {
        display: none;
        margin: 0px 7px;
        margin-bottom: 10px;
    }

    #disambiguations-count {
        margin: 0px;
        margin-bottom: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}

.disambiguation {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;

    .title {
        font-size: 1rem;
    }

    %button {
        font-size: 0.8rem;
        padding: 1.5px;
        border-radius: 3px;

        a {
            color: #505050;
        }
    }

    .full-url,
    .edit-url {
        background-color: #dddddd;
    }
}