@import "view-results";
@import "view-disamb";
@import "view-filters";

$font-stack: "Segoe UI", sans-serif;

:root {
    background: rgb(253, 253, 253);
    font-size: 13px;
    font-family: $font-stack;
    box-sizing: border-box;
}

#disambiguations-count,
#end-message {
    font-size: 0.9rem;
    text-align: center;
    color: #818181;

    padding: 0px;
}

#search {
    font-size: 0.9rem;
    text-align: right;

    #search-box {
        width: 70%;
        height: 23px;
        padding-left: 5px;

        border-radius: 3px;
        border: 1px solid darkgray;
    }
}
